/* CSS for QuestionGeneratorXBlock (studio_view) */

.variables_table {
    border: 2px solid #009fe6 !important;
    width: 100%;
}

.formula_edit_table_header_color {
    background-color: #009fe6;
    height: 40px !important;
    color: white;
    font-weight: bold;
}

.formula_edit_table_row {
    height: 45px;
}

.table_cell_alignment {
    vertical-align: middle;
    horizontal-align: left;
}



.formula_input_text {
	width: 90% !important;
	padding: 5px !important;
}

.variable_type {
	width: 90% !important;
	padding: 5px !important;
}

.number_input_cell {
	padding: 5px !important;
}

.remove_button {
	width: 100px !important;
	height: 34px !important;
	padding: 2px !important;
}

.action_button {
    align: middle;
	width: 93% !important;
	height: 35px !important;
	padding: 0px !important;
}

.remove_variable_button {
    align: middle;
	width: 93% !important;
	height: 35px !important;
	padding: 0px !important;
	color: red;
}

.add_variable_button {
    align: middle;
	width: 93% !important;
	height: 35px !important;
	padding: 0px !important;
	color: green;
}

.button_cell {
	align: left;
	width: 100px !important;
	padding: 5px !important;
}

.general_information {
    width: 100%;
}

.question_template {
    width: 100%;
}

.validation_error {
	color: rgb(255, 14, 14);
	font-weight: bold;
}

/*
canhdq: added css for UI tunning
*/
.edit-content-visibility {
    margin-bottom: 20px;
}


.modal-window .modal-section-title {
    margin: 0 0 10px 0;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 5px;
    color: #4c4c4c;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
}

.modal-window .modal-section-content .list-fields .list-actions {
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.course-outline-modal .list-fields .field-message {
    color: #666;
    font-size: 10px;
}

.image_url {
    width: 70% !important;
}

.block-left {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
    /* float: left; */
}

.block-right {
    /* width: 75%; */
    display: inline-block;
    /* float: right; */
}

.variables_table_col {
    padding: 5px 5px !important;
    vertical-align: middle;
}

.variables_action_col {
    text-align: center;
    width:80px !important;
    padding: 0px !important;
}

.variable_input {
    width: 100% !important;
    height: 35px !important;
    padding: 0px 5px !important;
}

.variable_input_number {
	width: 93% !important;
	height: 35px !important;
	padding: 0px 5px !important;
}

.variable_input_select {
	width: 100% !important;
	height: 35px !important;
	padding: 0px !important;
}

.variable_name {
    width: 10% !important;
}