<div class="gherkin_question_block">
    <div class="help_part">
        <h3> Instruction </h3>
        <li> Please press EDIT to modify the question and answer that we process </li> <br>
        <li> Please make it matches up with what you want </li> <br>
        <li> *Important Note: If you type 2+3 and it doesn't work, please try 2 + 3 instead </li> <br>
    </div>
    <div class="question_part">
        <h3> The Question </h3> <br>
        <li> {{ question }} </li> <br>
    </div>
    <div class="answer_part">
        <h3> The Answer </h3> <br>
        <li> {{ answer }} </li> <br>
    </div>
</div>
