{% load i18n %}

<div class="editor-with-buttons" xmlns="http://www.w3.org/1999/html">
	<div name="error-message"></div>

    <div name="hidden_inputs">
        <!-- For Editor mode-->
        <input type="hidden" class="hidden" name="enable_advanced_editor" value="{{ enable_advanced_editor }}" />
		<input type="hidden" class="hidden" name="current_editor_mode_name" value="{{ current_editor_mode_name }}" />
        <!-- For Parser tab -->
		<input type="hidden" class="hidden" name="show_parser" value="{{ show_parser }}" />
        <input type="hidden" class="hidden" name="btn_toggle_parser_text" value="{{ btn_toggle_parser_text }}" />
		<input type="hidden" class="hidden" name="btn_toggle_parser_action" value="{{ btn_toggle_parser_action }}" />
		<!-- For showing original text on Template tab -->
		<input type="hidden" class="hidden" name="input_question_text" value="{{ question_text_origin }}" />
        <input type="hidden" class="hidden" name="input_answer_text" value="{{ answer_text_origin }}" />
    </div>

	<!--PARSER TAB-->
	<div class="wrapper-comp-settings is-active editor-with-buttons" name="parser-tab" id="parser-tab">
        <ul class="list-input settings-list" name="question_text_list">
			<li class="field comp-setting-entry metadata_entry">
				<div class="wrapper-comp-setting">
					<label class="label setting-label" for="question_text">Original Question</label>
					<textarea name="question_text" rows=10 cols=80>{{ question_text_origin }}</textarea>
	        	</div>
	        </li>

			<li class="field comp-setting-entry metadata_entry">
				<div class="wrapper-comp-setting">
					<label class="label setting-label" for="answer_text">Original Answer</label>
					<textarea name="answer_text" rows=5 cols=80>{{ answer_text_origin }}</textarea>
	        	</div>
	        </li>
		</ul>
	</div>

	<!--TEMPLATE TAB-->
	<div class="wrapper-comp-settings is-active editor-with-buttons question_template" name="template-tab" id="template-tab">
        <ul class="list-input settings-list" name="question_template_list">

	        <li class="field comp-setting-entry metadata_entry">
				<div class="wrapper-comp-setting">
					<label class="label setting-label" for="question_template">Question template</label>
					<textarea name="question_template" rows=10 cols=80>{{ question_template }}</textarea>

					<div class="block-left"></div>

					<div class="block-right">
						<!-- Original question -->
						<div name="original_question_text_div">
							<a href="javascript:;" class="button action-primary" name="btn_toggle_original_question" action="show">{% trans "Show Question Original Text" %}</a>
						</div>
					</div>
	        	</div>

	        </li>

			<li class="field comp-setting-entry metadata_entry">
				<div class="wrapper-comp-setting">
					<label class="label setting-label" for="answer_template">Answer template</label>
					<textarea name="answer_template" rows=5 cols=80>{{ answer_template_string }}</textarea>

					<div class="block-left"></div>

					<div class="block-right">
						<!-- Original answer -->
						<div name="original_answer_text_div">
							<a href="javascript:;" class="button action-primary" name="btn_toggle_original_answer" action="show">{% trans "Show Answer Original Text" %}</a>
						</div>
					</div>
	        	</div>
	        </li>

	        <li
	          class="field comp-setting-entry metadata_entry"
	          data-field-name="Variable"
	          data-default="Variable default value"
	          data-cast="String"
	        >
				<div class="wrapper-comp-setting">
					<!-- NUMERIC VARIABLES SETTINGS-->
					<!--<table name="variables_table" id="variables_table" class="variables_table">-->
						<!--<tr class="formula_edit_table_header_color formula_edit_table_row">-->
							<!--<th width="10%" class="table_cell_alignment first_column">Numeric variables</th>-->
                            <!--<th width="20%" class="table_cell_alignment">Original text</th>-->
                            <!--<th width="10%" class="table_cell_alignment">Type</th>-->
							<!--<th width="15%" class="table_cell_alignment">Min</th>-->
							<!--<th width="15%" class="table_cell_alignment">Max</th>-->

							<!--<th width="10%" class="table_cell_alignment" title="Decimal places for Float number">Dec. places</th>-->
							<!--<th width="10%"></th>-->
                            <!--<th width="10%"></th>-->
						<!--</tr>-->

						<!--{% for variable_name, variable in variables.iteritems %}-->
							<!--<tr class="formula_edit_table_row">-->
								<!--<td class="table_cell_alignment first_column"><input type="text" name="variable-{{ variable.name }}" class="formula_input_text" value="{{ variable.name }}"></td>-->
                                <!--<td class="table_cell_alignment number_input_cell"><input type="text" name="original_text-{{variable.name}}" class="formula_input_text" value= {{ variable.original_text }} readonly></td>-->
                                <!--<td class="table_cell_alignment">-->
									<!--<select name="variable_type-{{ variable.name }}-{{ variable.type }}" class="variable_type">-->
										<!--<option value="int" {% if variable.type == "int" %} selected="true" {% endif %}>Int</option>-->
										<!--<option value="float" {% if variable.type == "float" %} selected="true" {% endif %}>Float</option>-->
                                        <!--&lt;!&ndash;<option value="custom" {% if variable.type == "custom" %} selected="true" {% endif %}>Custom</option>&ndash;&gt;-->
									<!--</select>-->
								<!--</td>-->
								<!--<td class="table_cell_alignment number_input_cell"><input type="number" name="variable_min_value-{{ variable.name }}" class="formula_input_text" value="{{ variable.min_value }}"></td>-->
								<!--<td class="table_cell_alignment number_input_cell"><input type="number" name="variable_max_value-{{ variable.name }}" class="formula_input_text" value="{{ variable.max_value }}"></td>-->
								<!--<td class="table_cell_alignment number_input_cell"><input type="number" name="variable_value_decimal_places-{{ variable.name }}" class="formula_input_text" min="0" max="7" value="{{ variable.decimal_places }}"></td>-->
								<!--<td class="table_cell_alignment button_cell"><input type="button" class="remove_variable_button" value="x" title="Remove this variable"></td>-->
                                <!--<td class="table_cell_alignment button_cell last_column"><input type="button" class="add_variable_button" value="+" title="Insert after this row"></td>-->
							<!--</tr>-->
						<!--{% endfor %}-->
					<!--</table>-->

					<table name="variables_table" id="variables_table" class="variables_table">
						<tr class="formula_edit_table_header_color">
							<th width="15" class="variables_table_col">Numeric variables</th>
                            <th width="15%" class="variables_table_col">Original text</th>
                            <th width="10%" class="variables_table_col">Type</th>
							<th width="15%" class="variables_table_col">Min</th>
							<th width="15%" class="variables_table_col">Max</th>

							<th width="10%" class="variables_table_col" title="Decimal places for Float number">Dec. places</th>
							<th width="10%" class="variables_table_col"></th>
                            <th width="10%" class="variables_table_col"></th>
						</tr>

						{% for variable_name, variable in variables.iteritems %}
							<tr class="">
								<td class="variables_table_col"><input type="text" name="variable-{{ variable.name }}" class="variable_input" value="{{ variable.name }}"></td>
                                <td class="variables_table_col"><input type="text" name="original_text-{{variable.name}}" class="variable_input" value= {{ variable.original_text }} readonly></td>
                                <td class="variables_table_col">
									<select name="variable_type-{{ variable.name }}-{{ variable.type }}" class="variable_input_select">
										<option value="int" {% if variable.type == "int" %} selected="true" {% endif %}>Int</option>
										<option value="float" {% if variable.type == "float" %} selected="true" {% endif %}>Float</option>
                                        <!--<option value="custom" {% if variable.type == "custom" %} selected="true" {% endif %}>Custom</option>-->
									</select>
								</td>
								<td class="variables_table_col"><input type="number" name="variable_min_value-{{ variable.name }}" class="variable_input_number" value="{{ variable.min_value }}"></td>
								<td class="variables_table_col"><input type="number" name="variable_max_value-{{ variable.name }}" class="variable_input_number" value="{{ variable.max_value }}"></td>
								<td class="variables_table_col"><input type="number" name="variable_value_decimal_places-{{ variable.name }}" class="variable_input_number" min="0" max="7" value="{{ variable.decimal_places }}"></td>
								<td class="variables_table_col variables_action_col"><input type="button" class="action_button remove_variable_button" value="x" title="Remove this variable"></td>
                                <td class="variables_table_col variables_action_col"><input type="button" class="action_button add_variable_button" value="+" title="Insert variable after this row"></td>
							</tr>
						{% endfor %}
					</table>

					<!-- STRING VARIABLES SETTINGS-->
					<table name="string_variables_table" class="variables_table">
						<tbody>
                            <tr class="formula_edit_table_header_color">
                                <th width="15" class="variables_table_col">String variables</th>
								<th width="15%" class="variables_table_col">Original text</th>
                                <th width="40%" class="variables_table_col">Context</th>
								<th width="20%%" class="variables_table_col">Options</th>
                                <th width="10%" class="variables_table_col"></th>
                            </tr>
                            {% for key, var in string_variables.iteritems %}
                                <tr class="">
                                    <td class="variables_table_col"><input type="text" name="string_variable-{{var.name}}" class="variable_input" value= {{ var.name }} readonly></td>
									<td class="variables_table_col"><input type="text" name="original_text-{{var.name}}" class="variable_input" value= {{ var.original_text }} readonly></td>
                                    <td class="variables_table_col">
                                        <select name="variable-library-{{ var.name }}" class="variable_input_select">
                                            {% for context_id, context in var.context_list.iteritems %}
                                                <option value="{{context_id}}" {% if var.context == context_id %} selected="true" {% endif %}> {{context.name}} </option>
                                            {% endfor %}
                                        </select>
                                    </td>
									<td class="variables_table_col">
                                        <select name="variable-value-{{ var.name }}" class="variable_input_select">
											{% for context_id, context in var.context_list.iteritems %}
												{% if context_id == var.context %}
													{% for string in context.synonyms %}
													<option value="{{string}}" {% if string == var.value %} selected="true" {% endif %}> {{string}} </option>
													{% endfor %}
												{% endif %}
											{% endfor %}
                                        </select>
                                    </td>
                                    <td class="variables_table_col variables_action_col"><input type="button" class="action_button remove_variable_button" value="x" title="Remove this variable"></td>
                                </tr>
                            {% endfor %}
						</tbody>
					</table>
	        	</div>
	        </li>

			<li class="field comp-setting-entry metadata_entry">
				<div class="wrapper-comp-setting">
					<label class="label setting-label" for="image_url">Image URL</label>
					<input name="image_url" type="text" class="field-data-control image_url" id="xb-field-edit-image" value="{{ image_url }}" />
	        	</div>
			</li>
		</ul>
	</div>

    <!--EDITOR TAB-->
	<div name="editor-tab" id="editor-tab" class="wrapper-comp-settings editor-with-buttons is-active">
		<section class="raw-edit problem-editor editor">
		  <textarea name="raw_editor_xml_data" id="problem-editor" class="xml-box" rows="8" cols="40">{{ raw_editor_xml_data}}</textarea>
		</section>
	</div>

	<!--SETTINGS TAB-->
    <div class="wrapper-comp-settings is-active editor-with-buttons general_information" name="settings-tab" id="settings-tab">
		<ul class="list-input settings-list">
			{% for field in fields %}
				{% if field.name != "_image_url" and field.name != "_question_template" and field.name != "_answer_template" and field.name != "_variables" and	field.name != "_raw_editor_xml_data" and field.name != "_answer_template_string"%}
					<li
					  class="field comp-setting-entry metadata_entry {% if field.is_set %}is-set{% endif %}"
					  data-field-name="{{field.name}}"
					  data-default="{% if field.type == 'boolean' %}{{ field.default|yesno:'1,0' }}{% else %}{{ field.default|default_if_none:"" }}{% endif %}"
					  data-cast="{{field.type}}"
					>
						<div class="wrapper-comp-setting{% if field.type == "set" %} metadata-list-enum {%endif%}">
							<label class="label setting-label" for="xb-field-edit-{{field.name}}">{{field.display_name}}</label>
							{% if field.type == "boolean" %}
								<select
								  class="field-data-control"
								  id="xb-field-edit-{{field.name}}"
								>
									<option value="1" {% if field.value %}selected{% endif %}>
									  True {% if field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
									</option>
									<option value="0" {% if not field.value %}selected{% endif %}>
									  False {% if not field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
									</option>
								</select>
							{% elif field.has_values %}
								<select
								  class="field-data-control"
								  id="xb-field-edit-{{field.name}}"
								>
									{% for option in field.values %}
									  <option value="{{option.value}}" {% if field.value == option.value %}selected{% endif %}>
									    {{option.display_name}} {% if option.value == field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
									  </option>
									{% endfor %}
								</select>
							{% elif field.type == "string" or field.type == "datepicker" %}
								{% if field.name != "_image_url" %}
									<input
									  type="text"
									  class="field-data-control"
									  id="xb-field-edit-{{field.name}}"
									  value="{{field.value|default_if_none:""}}"
									>
								{% endif %}
							{% elif field.type == "integer" or field.type == "float" %}
								<input
								  type="number"
								  class="field-data-control"
								  id="xb-field-edit-{{field.name}}"
								  {% if field.step %} step="{{field.step}}" {% elif field.type == "integer" %} step=1 {% endif %}
								  {% if field.max %} max="{{field.max}}" {% endif %}
								  {% if field.min %} min="{{field.min}}" {% endif %}
								  value="{{field.value|default_if_none:""}}"
								>
							{% elif field.type == "text" or field.type == "html" %}
								<textarea class="field-data-control" data-field-name="{{field.name}}" id="xb-field-edit-{{field.name}}" rows=10 cols=70>{{field.value}}</textarea>
							{% elif field.type == 'set' and field.has_list_values %}
								{% comment %}
									TODO: If len(list_values) is high, show an alternate editor
									with a select box and a growing list of selected choices
								{% endcomment %}
								<div class="wrapper-list-settings">
									<ul class="list-settings list-set">
									  {% for choice in field.list_values %}
									    <li class="list-settings-item">
									      <input
									        id="xb-field-edit-{{field.name}}-{{forloop.counter}}"
									        type="checkbox"
									        value="{{choice.value}}"
									        style="width:auto;min-width:auto;height:auto;float:left;margin-top:3px;"
									        {% if choice.value in field.value %}checked="checked"{% endif %}
									      >
									      <label for="xb-field-edit-{{field.name}}-{{forloop.counter}}" style="display:block;margin-left:1.1em;">
									        {{choice.display_name}}
									      </label>
									    </li>
									  {% empty %}
									    <li>{% trans "None Available" %}</li>
									  {% endfor %}
									</ul>
								</div>
							{% elif field.type == 'generic' or field.type == 'list' or field.type == 'set' %}
								{# Show a textarea so we can edit it as a JSON string #}
								<textarea class="field-data-control" data-field-name="{{field.name}}" id="xb-field-edit-{{field.name}}" rows=5 cols=70>{{field.value}}</textarea>
							{% else %}
								Unsupported field type. This setting cannot be edited.
							{% endif %}

							{% if field.allow_reset %}
							  <button class="action setting-clear {% if field.is_set %}active{%else%}inactive{% endif %}" type="button" name="setting-clear" value="{% trans "Clear" %}" data-tooltip="{% trans "Clear" %}">
							    <i class="icon fa fa-undo"></i><span class="sr">{% trans "Clear Value" %}</span>
							  </button>
							{% endif %}
						</div>
						{% if field.help %}
						  <span class="tip setting-help"> {{ field.help|safe }} </span>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="xblock-actions">
		<ul>
				<li class="action-item" name="parse">
					<a href="#" class="button action-primary" name="parse_button">{% trans "Parse" %}</a>
				</li>

			{% if is_submitted == 'False' %}
				<li class="action-item" name="save">
					<a href="#" class="button action-primary save-button" name="save_button">{% trans "Save" %}</a>
				</li>
			{% endif %}

			<li class="action-item">
				<a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
			</li>

			<!-- SWITCH UI DISPLAY OF EDITOR -->
			<li style="margin-right:50px;" class="pull-right" name="switch_editor_mode_button">
                <button type="button" id="btn_toggle_parser_id" tab-name="parser-tab" action="{{btn_toggle_parser_action}}" title="Toggle PARSER tab for text parsing">{{ btn_toggle_parser_text }}</button>
				<button type="button" id="btn_switch_editor_mode" tab-name="template-tab" data-tab="xml" title="Switch editor interface">{{ next_editor_mode_name }}</button>
				<!--<a href="#" class="button cancel-button" id="btn_switch_editor_mode" tab-name="template-tab" title="Switch problem edit interface">{{ next_editor_mode_name }}</a>-->
			</li>
		</ul>
	</div>
</div>


