<div class="original_question_block">
    <div class="help_part">
        <h3> INSTRUCTION </h3> 
        <li> Please press EDIT to issue a question with following format: </li> 
        <li> Question Content </li> 
        <li> Answer: </li> 
        <li> Answer content </li> <br>
        <li> Then , you can press VIEW to continue with next step </li>
        <li> If there is no question with above format, you'll get an error in the next step </li> <br>
    </div>
    <div class = "question-part">
        <h3> QUESTION </h3> 
        <li> {{ question }} </li> <br> 
    </div>
    <div class="answer_part">
        <h3> ANSWER </h3>  
        <li> {{ answer }} </li> 
    </div>
</div>

